@{
    ViewData["Title"] = "Criar novo contaro";
}
<div class="text-center">
    <h1>Criar novo contato</h1>
   
</div>

<form>
    <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="nome" placeholder="valdir">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3">
        <label for="telefone" class="form-label">Seu Telefone</label>
        <input type="text" class="form-control" id="telefone" placeholder="(61) 983360091">
    </div>
    <button type="submit" class="btn btn-outline-primary">Enviar</button>
</form>